@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primary-color: #fb7413;

    --white: #ffffff;
    --light-grey: #959eac;
    --medium-grey: #7c8798;
    --light-dark-blue: #222933;
    --medium-dark-blue: #252f39;
    --dark-blue: #171e28;
    --very-dark-blue: #141519;

    --max-width-wrapper: 1440px;

    --regular-font-size: 12px;
}

* {
    font-family: 'Overpass', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rating-background {
    margin: auto;
    width: 100%;
    max-width: var(--max-width-wrapper);
    background-color: var(--very-dark-blue);
    height: 100vh;
    max-height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-wrapper {
    background: linear-gradient(to bottom, var(--light-dark-blue), var(--dark-blue));
    border-radius: 25px;
    width: 325px;
    height: 325px;
}

.rating-container {
    width: 100%;
    height: 100%;
    padding: 25px;
}

.rating-logo {
    width: 100%;
    margin-bottom: 25px;
}

.logo-container {
    background-color: var(--medium-dark-blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 15px;
    height: 15px;
}

.rating-body{
    width: 100%;
}

.rating-body h2{
    color: var(--white);
    margin-bottom: 10px;
}

.rating-body p{
    font-size: var(--regular-font-size);
    color: var(--light-grey);
    line-height: 20px;
}